body {
  font-family: "Mukta", sans-serif;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.container {
  text-align: center;
}

#Actorzy {
  display:flex;
justify-content: center;

}
#Actor1 {
  padding-right: 30px;
}
#Actor3 {
  padding-left: 30px;
}
h1{
  text-align: center;
}
p {
  padding: 0 15%;
}